[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.5"
djangorestframework = "*"
django-loginas = "*"
django-grappelli = "*"
django-model-utils = "*"
pre-commit = "*"
django-money = "*"
django-cors-headers = "*"
jsonfield = "*"
djangorestframework-api-key = "==2.*"
celery = ">=5.2.7,<5.3"
redis = "*"
psycopg2 = "*"
python-dateutil = "*"
django-q = "*"
python-dotenv = "*"
sentry-sdk = "*"
django-tenants = "*"
tenant-schemas-celery = "*"
stripe = "*"
django-extensions = "*"
django-cryptography = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
