[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-loginas = "*"
django-grappelli = "*"
django-model-utils = "*"
pre-commit = "*"
django-money = "*"
django-cors-headers = "*"
jsonfield = "*"
djangorestframework-api-key = "==2.*"
celery = "*"
redis = "*"
psycopg2 = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
