.movementButton {
    cursor: pointer;
    font-size: 12px;
}

.movementButton[disabled]{
    color: #666666;
    cursor: not-allowed;
}

.currentPageNumber {
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 400;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
}
