.usage-form1 .ant-form-item {
  margin-bottom: 0px;
}

.editable-cell {
  position: sticky;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap:hover {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
