.copyText {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.copiedTag {
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkedIcon {
    color: white;
    border-radius: 5px;
    background: green;
    margin-right: 6px;
}
