.planCard:hover {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}

.activeSubscriptions {
  color: #c3986b;
}

.planDetailsValue {
  font-weight: 600;
  color: #1d1d1f;
  align-self: center;
}

.planDetails {
  font-size: 16px;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

/* .planIdOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
} */

.planMenuArchiveIcon {
  color: #c20022;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
}

.archiveLabel {
  margin-left: 5px;
  margin-top: 7px;
}
