.separator {
    border-bottom: 1px solid rgba(29, 29, 31, 0.1);
    height: 1px;
    width: 100%;
}

.planComponent {
    height: 135px;
    width: 330px;
}

.planComponentLabel {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #9B9BA1;
}

.planComponentCost {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.planComponentMetricName {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.planFeatureDesc {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #68686F;
}

.infoLabel {
    font-size: 16px;
    line-height: 24px;
    color: #9B9BA1;
}

.infoValue {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #1D1D1F;
}

.planCost {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #1D1D1F;
}

.w-30 {
    width: 30%;
}

