.tabsContainer {
    padding: 5px;
    background: #EAEAEB;
    border-radius: 20px;
    color:rgba(0, 0, 0, 0.65);
    font-size: 13px;
    cursor: pointer;
    height: 30px;
}

.tabItem {
    padding: 3px 8px;
}

.activeTab {
    height: 24px;
    margin: -1px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
