@import "~antd/dist/antd.less";

@btn-primary-bg: #1d1d1f;
@primary-color: #1d1d1f;

@link-color: #1da57a;
@highlight-color: #cca43b;
@btn-primary-hover-bg: @highlight-color;

@picker-basic-cell-active-with-range-color: @highlight-color;
@picker-basic-cell-hover-with-range-color: lighten(@highlight-color, 35%);
@picker-date-hover-range-border-color: lighten(@highlight-color, 20%);

@black: #1d1d1f;
@white: #fafafa;
@border-radius-base: 4px;
@typography-title-font-weight: 700;
@height-base: 48px;
@border-color-base: #1d1d1f;
@font-size-base: 15px;
@font-size-sm: 14px;
@font-family: Satoshi, sans-serif;
@heading-1-size: 32px;
@heading-2-size: 26px;
@heading-3-size: 16px;
@heading-4-size: 14px;
@select-item-selected-bg: @white;
@menu-item-selected-bg: @white;
@menu-item-active-bg: @white;
@btn-font-size-lg: 16px;
@picker-bg: @white;
