@import url("https://www.fontshare.com/fonts/satoshi");
/* @tailwind base; */

@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
  html {
    font-size: 16px;
    font-family: "Satoshi", sans-serif;
  }
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */

  /* Black */

  color: #1d1d1f;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #1d1d1f;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: "Satoshi", sans-serif;
}

a {
  color: #cca43b;
  text-decoration: none;
}

.ant-modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.ant-descriptions-header {
  margin-bottom: 0;
}

.ant-descriptions-title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}

.ant-descriptions-small .ant-descriptions-title {
  font-size: 16px;
  line-height: 18px;
}

.ant-descriptions-item-label {
  opacity: 0.4;
}

.ant-page-header-ghost {
  height: 88px;
  border-bottom: 1px solid rgba(29, 29, 31, 0.1);
}

.ant-switch {
  color: #fff;
}
.ant-switch-checked {
  background-color: #cca43b;
}

.ant-picker {
  border-radius: 100px;
  border-color: #1d1d1d;
}
.ant-page-header-heading-title {
  overflow: visible;
}

.ant-menu {
  border: none;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
.ant-menu-inline .ant-menu-item {
  height: 30px;
}
.ant-menu-inline .ant-menu-item:hover {
  background-color: #dddddf;
}
.ant-menu-inline .ant-menu-item::after {
  display: none;
}

.ant-menu-inline .ant-menu-item::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: url("data:image/svg+xml,%3Csvg width='8' height='32' viewBox='0 0 8 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_419_2471)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.000199344 -9.53314C0.00019933 -10.9007 -1.09925 -12 -2.46708 -12V-12C-3.86047 -12 -4.9998 -10.8609 -4.9998 -9.46772L-4.9998 0.511521C-4.9998 5.2309 -8.58354 9.50664 -9.6609 14.1156C-9.80269 14.7221 -9.8815 15.3525 -9.88997 15.9993C-9.89907 16.6949 -9.82633 17.3714 -9.68066 18.0198C-8.63738 22.6637 -4.9998 26.9018 -4.9998 31.6748L-4.9998 41.5331C-4.9998 42.9007 -3.90036 44 -2.53252 44V44C-1.13913 44 0.000198827 42.8609 0.000198868 41.4677L0.000199095 33.5825C0.000199243 28.4404 4.80644 24.063 6.82446 19.3068C7.25711 18.2871 7.50296 17.1702 7.51829 15.9993C7.53416 14.7871 7.30145 13.6329 6.86744 12.5844C4.88544 7.79624 0.000199481 3.47991 0.000199426 -1.72599L0.000199344 -9.53314Z' fill='%23C3986B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_419_2471'%3E%3Crect width='8' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.ant-menu-inline .ant-menu-item-selected::before {
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-inline .ant-menu-item-selected {
  font-weight: 700;
}
.ant-menu-inline .ant-menu-item-selected::after {
  display: none;
}

.ant-menu > .ant-menu-item-divider {
  margin: 24px auto;
  width: 75%;
}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * Â© 2022 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-LightItalic.woff") format("woff"),
    url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff"),
    url("../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
