@import url("https://rsms.me/inter/inter.css");
/* @tailwind base; */

@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-size: 16px;
    font-family: "Inter var", sans-serif;
  }
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */

  letter-spacing: -0.06em;

  /* Black */

  color: #1d1d1f;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #1d1d1f;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-modal-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.ant-descriptions-header {
  margin-bottom: 0;
}

.ant-descriptions-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.ant-descriptions-small .ant-descriptions-title {
  font-size: 16px;
  line-height: 18px;
}

.ant-descriptions-item-label {
  opacity: 0.4;
}

.ant-page-header-ghost {
  height: 88px;
  border-bottom: 1px solid rgba(29, 29, 31, 0.1);
}

.ant-switch {
  color: #fff;
}
.ant-switch-checked {
  background-color: #cca43b;
}
